# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Env
.venv/
.env
.env_prod

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
